.logo{
    --ion-background-color: rgb(0, 0, 0);
}

ion-content{
    --ion-background-color: rgb(0, 0, 0);
    overflow-y: hidden;
}

.toolbarlogo{
    --background: rgb(255, 68, 0);
}

.col1 {
    border: solid 3px rgb(0, 0, 0);
}

ion-list{
    background-color: white;
}

ion-input{
    background-color: white;
}

ion-select{
    background-color: white;
}

.background-item{
    --ion-background-color: white;
}

#title{
    padding-bottom: 15px;
}



ion-row{
    justify-content: center;
    align-items: center;
  }

#buscadorbtn{
    margin-top: 5px;
}


.portada {
    text-align: center;

  }


ion-button{
    margin-top: 10px;
}  

#lista{
    background-color: rgb(255, 68, 0);
}