ion-content{
    --ion-background-color: rgb(0, 0, 0);
}

ion-label{
    padding-top: 10px;
}

ion-input{
    color: white;
    --background: rgba(255, 234, 0, 0.447);
    
}

ion-note{
    color: white;
}

