<ion-content>
  <div id="header">
    <h1>Registrapp</h1>
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/inicio"></ion-icon>
      <div id="logo">
        <img src="assets/registro.png" alt="">
      </div>
      <div></div>
    </div>
    <h1>Registro</h1>
    <p>Ingresa tus datos y crea tu cuenta</p>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <form [formGroup]="formularioRegistro">
          <ion-item>
            <ion-label color="dark" position="floating" align="center">Email</ion-label>
            <ion-input  formControlName="email" type="email"></ion-input>
            <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email inválido</ion-note>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="floating" align="center">contraseña</ion-label>
            <ion-input formControlName="password" type="text"></ion-input>
            <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Contraseña debe tener un largo mínimo de 6</ion-note>
          </ion-item>
          <ion-item>
            <ion-label color="dark" position="floating" align="center">
              confirma contraseña</ion-label>
            <ion-input
              formControlName="confirmaPassword"
              type="text"
            ></ion-input>
            <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Contraseña debe tener un largo mínimo de 6</ion-note>
          </ion-item>
        </form>
        <ion-button color="dark" expand="block" (click)="register()">Aceptar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button color="warning" [routerLink]="['/inicio']">Ir a inicio</ion-button>
  </div>
</ion-content>






































<!--

<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class="logo">
    <ion-img style="width: 100%; height: 40%;" src="/assets/logoduoc.jpg"></ion-img>

    <ion-card>
    <ion-card-header>
      <ion-title align="center" color="light" >Registra tus datos</ion-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-item>
          <ion-label color="light" position="floating" align="center">Email</ion-label>
          <ion-input  formControlName="email" type="email"></ion-input>
          <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email inválido</ion-note>
        </ion-item>
        <ion-item>
          <ion-label color="light" position="floating" align="center">contraseña</ion-label>
          <ion-input formControlName="password" type="text"></ion-input>
          <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Contraseña debe tener un largo mínimo de 6</ion-note>
        </ion-item>
        <ion-item>
          <ion-label color="light" position="floating" align="center">
            confirma contraseña</ion-label>
          <ion-input
            formControlName="confirmaPassword"
            type="text"
          ></ion-input>
          <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Contraseña debe tener un largo mínimo de 6</ion-note>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button  type="button" (click)="register()">Enviar</ion-button>
  <br />
  <ion-button color="warning" [routerLink]="['/inicio']">Ir a inicio</ion-button>
</ion-content>
-->