<ion-content>
<ion-card align="center" id="card-lista"> 
  <ion-grid>
    <ion-row *ngFor="let asistencia of asistencias">
  
      <ion-col class="border-col" size="4">
      
        <ion-label color="light">{{asistencia.fecha}}</ion-label>
      </ion-col>

      <ion-col class="border-col" size="4">
        
        <ion-label color="light">{{asistencia.curso}}</ion-label>
      </ion-col>
   
      <ion-col class="border-col" size="4"> 
     
        <ion-label color="light">{{asistencia.nombre_alumno}}</ion-label>
        <ion-icon name="trash" color="light" (click)="onClickDelete(asistencia)" ></ion-icon>
        
      </ion-col>
     
    </ion-row>
   
  </ion-grid>

  <ion-button color="warning" [routerLink]="['/asistencia']">Volver</ion-button>
</ion-card>
</ion-content>


<ion-content align="center">
  <ion-title color="light">Buscar por nombre</ion-title>
  <form [formGroup]="formularioBusqueda">
  <ion-list >
    <ion-item >
      <ion-select placeholder="¿como quieres buscar?" formControlName="parametro">
        <ion-select-option color="light" value="nombre_alumno">nombre</ion-select-option>
        <ion-select-option color="light" value="curso">curso</ion-select-option>
        <ion-select-option color="light" value="fecha">fecha</ion-select-option>
      </ion-select>
     <ion-input color="dark" formControlName="valor" placeholder="buscar"></ion-input>
    </ion-item>
  </ion-list>

</form>
<ion-button color="warning" (click)="ingresarBusqueda()">Buscar</ion-button>
<ion-card >

  <ion-grid id="grid1">
    <ion-row class="row header">
      <ion-col class="col1"><ion-label color="dark">Nombre</ion-label> </ion-col>
      <ion-col class="col1"><ion-label color="dark">Fecha</ion-label> </ion-col>
      <ion-col class="col1"><ion-label color="dark">Curso</ion-label> </ion-col>
    </ion-row>
    <ion-row *ngFor="let translation of arreglo_datos">
      <ion-col class="col">
        <ion-label color="dark" >{{translation.nombre_alumno}}</ion-label> -
      </ion-col >
      <ion-col  class="col">
        <ion-label color="dark">{{translation.fecha}}</ion-label> -
      </ion-col >
      <ion-col  class="col">
        <ion-label color="dark">{{translation.curso}}</ion-label> 
      </ion-col>
    </ion-row>
  </ion-grid>





</ion-card>
</ion-content>

