ion-content{
  --ion-background-color: black;
  text-align: center;
 
}

.portada {
  text-align: center;

}


#header{
  height: 60%;
  background: rgb(255, 68, 0);
  padding: 20px;
}



ion-title{
    --color:rgb(255, 255, 255);
}

.ion-padding{
  background-color: rgb(0, 0, 0);
}

ion-button{
  text-align: center !important;
  
}

ion-item{
  text-align: center;
}

ion-card{
  --ion-background-color: rgb(0, 0, 0);

}



.background-item{
  --ion-background-color: white;
}

.col1 {
  border: solid 3px rgb(255, 255, 255);
}


ion-row{
  justify-content: center;
  align-items: center;
}

#buscadorbtn{
  margin-top: 10px;
}

#title{
  padding-bottom: 10px;
  padding-top: 10px;
}




.toolbarlogo{
  --background: rgb(255, 68, 0);
}

ion-list{
  background-color: white;
}

ion-input{
  background-color: white;
}

ion-select{
  background-color: white;
}

.background-item{
  --ion-background-color: white;
}

#btn-scan{
  --background: rgb(255, 68, 0);
}

